<h1>About</h1>
<p>Unicon is a site in the interweb that aims to help you with a day to day problem.
it helps you manage you distributed contacts. you can add your mail accounts, social network accounts,
and all kinds of stuff in to your profile at this site. and we will take care of managing your contacts for you.
you will have them all at one place, synchroniced, easy to orgernice, and simple to manage!</p>
