<h2>Unicon Desktop and Mobile Clients</h2>
<p>you can use the unicon desktop or mobile clients to access your contacts from your desktop or your mobile
device from any where(as long as you have an internet connection). you can download these clients bellow.</p>
<br>
<ul>
  <li><p><b>Desktop Client</b></p><p>this client needs the latest .net framework to run. so please make sure you have it installed.
      if you do not have it you can always get it from microsoft.com for free. download <a href="/public/clients/desktop.zip">here</a></p><br></li>
  <li><p><b>Mobile Client</b></p><p>the unicon mobile client currently runs on windows mobile devices that can run
      .net compact framework. support to other devices will be added in the feuture.
      this client needs the latest .net compact framework to run. so please make sure you have it installed.
      if you do not have it you can always get it from microsoft.com for free. download <a href="/public/clients/mobile.zip">here</a></p><br></li>
</ul>