<h2>Unicon Frequently Asked Questions(F.A.Q.)</h2>
<p>this is a list of questions that are asked frequently by our users with the relavant answers we provide</p>
<br>
<ul>
  <li><p><b>What is Unicon?</b></p><p>Unicon is a service that let you consolidate your contact mangement efforts. it let's you manage your contacts
    that may be spread accrose sevaral contact sources throughout the internet from one central place. it let's you synchronize
    your contact source so that they will have the most up to date contacts. other than that you can also manage your contacts via Unicon</p><br></li>
  <li><p><b>Is it Free to use?</b></p><p>yes it is. we compeletly rely on ad revenue to cover our costs and make a profit.</p><br></li>
  <li><p><b>How often can i sync a given contact source?</b></p><p>in theory you can do it as often as you want. but we recommend that you
    do it with atleast with an interval of 1hour. because this would put a lot of strain on the system</p><br></li>
  <li><p><b>What is Synchronization?</b></p><p>Basiclly you give us a few email accounts or contact sources. these account contain
    many contacts. what we do is that, we make sure all of your given contact source have all of the contacts in all
    of your contact sources. if you delete something in a contact source and sync it again, we will remmeber that delete.
    and later when you sync other contact sources that delete will be propagated to them.</p><br></li>
  <li><p><b>Is their a limit on the number of Contacts i can have?</b></p><p>No. you can have as many contacts as you want</p><br></li>
  <li><p><b>Is their a limit on the number of Contact Sources i can have?</b></p><p>No. you can have as many contact sources as you want</p><br></li>
</ul>