<h1>Help</h1>
<p>here are some things you might need to know when using unicon. you can also look at our <%= link_to "F.A.Q.", :action => "faq" %></p>
<br>
<h2>Definitions</h2>
<br>
<p><b>Contact</b> a contact reprecents a object/record of infomation that stores contact details about one of your friends, coworkers...etc</p>
<p><b>Contact Source</b> a record of details about one of your user accounts(ex:- email account) at some thrid party service provider</p>

<br><br>

<h2>Navigation</h2><br>
<h3>Main</h3>
<p>note that this menu will only appear if you are already logged in to Unicon</p>
<ul>
  <li><i>Home</i>  - your home page</li>
  <li><i>Contacts</i>  - your contacts list, view/add/delete/edit your contacts here</li>
  <li><i>Contact Sources</i>  - your contact sources list. view/add/delete/edit and sync your contact sources here</li>
  <li><i>Advertise!</i>  - advertise in Unicon!</li>
  <li><i>My Account</i>  - your user account details, you can view and edit them here</li>
  <li><i>Logout</i>  - logout of Unicon</li>
</ul>
<br>
<h3>Sub</h3>
<ul>
  <li><i>About</i>  - about Unicon</li>
  <li><i>Contact</i>  - how you can contact us</li>
  <li><i>News</i>  - latest news about Unicon and all things related</li>
  <li><i>Help</i>  - brings you to this page</li>
  <li><i>Terms of Service</i>  - Unicon terms of service</li>
  <li><i>Privacy</i>  - Our privacy policiy</li>
</ul>